<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        {{>header}}

        <p>{{question}} </p>
        <p>{{answer}}</p>
    </body>
</html>